*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  height: 100%;
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
}

footer {
  font-size: 13px;
  position: absolute;
  bottom: 30px;
  width: 100vw;
  text-align: center;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.amount-display {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
